<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy | Quick.ly</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% include "scroll.html" %}
</head>

<body class="flex flex-col min-h-screen bg-cover bg-fixed" id="journal-scroll" style="background-image: url('{{ bg }}')">
    <page class="flex-grow">
        <div>
            {% include "header.html" %}
        </div>

        <main class="px-10 text-white focus:bg-orange-600">
            <div class="container px-5 py-16 mx-auto">
                <div class="flex flex-col w-full mb-12 text-left lg:text-center">
                    <h1 class="mb-6 text-2xl font-bold tracking-tighter text-white sm:text-5xl title-font">Политика конфиденциальности</h1>
                    <p class="mx-auto text-base font-medium leading-relaxed text-center lg:w-2/3">
                        В Quickly мы стремимся защищать вашу конфиденциальность и обеспечивать безопасность вашей личной информации. В этой политике конфиденциальности описываются типы личной информации, которую мы собираем, как мы ее используем и меры, которые мы принимаем для ее обеспечения.
                        Политика конфиденциальности объясняет, какую личную информацию мы собираем и как она используется. Сайт собирает эту информацию для анализа и улучшения качества обслуживания наших услуг. Если вы не хотите соглашаться с Политикой конфиденциальности,
                        вы не должны получать доступ к Сайту или использовать его.
                    </p>
                </div>
                <div class="flex flex-wrap -m-4">
                    <div class="p-4 lg:w-1/2">
                        <div class="flex flex-col h-full p-8 bg-gray-800 bg-opacity-50 border-2 border-gray-300 border-opacity-60 rounded-lg">
                            <h2 class="mb-3 text-lg font-medium text-white title-font">
                                Какую личную информацию мы собираем от людей, посещающих наш блог, веб-сайт или приложение?
                            </h2>
                            <p class="flex-grow mb-6 text-base leading-relaxed text-justify text-gray-100">
                                При заказе или регистрации на нашем сайте, в зависимости от обстоятельств, вас могут попросить ввести свое имя, адрес электронной почты или другие данные, которые помогут вам в работе. Когда мы представляем рекламные услуги на нашем сайте, пользователь может зарабатывать, требуя свои платежные реквизиты.
                            </p>
                        </div>
                    </div>
                    <div class="p-4 lg:w-1/2">
                        <div class="flex flex-col h-full p-8 bg-gray-800 bg-opacity-50 border-2 border-gray-300 border-opacity-60 rounded-lg">
                            <h2 class="mb-3 text-lg font-medium text-white title-font">
                                Могу ли я обновить информацию?
                            </h2>
                            <p class="flex-grow mb-6 text-base leading-relaxed text-justify text-gray-100">
                                Если вы хотите обновить некоторую информацию, мы предоставили страницу настроек, на которой при необходимости можно обновить большую часть информации. Но если вы обнаружите, что какой-либо вариант недоступен, вы можете связаться с нами.
                            </p>
                        </div>
                    </div>
                    <div class="p-4 lg:w-1/2">
                        <div class="flex flex-col h-full p-8 bg-gray-800 bg-opacity-50 border-2 border-gray-300 border-opacity-60 rounded-lg">
                            <h2 class="mb-3 text-lg font-medium text-white title-font">Как мы используем вашу информацию?</h2>
                            <ul class="mb-6 list-disc list-inside text-base leading-relaxed text-gray-100">
                                <li>Для предоставления и улучшения наших услуг: мы используем вашу информацию для работы нашей службы сокращения URL-адресов, персонализации вашего опыта и улучшения функциональности нашей службы..</li>
                                <li>Для связи с вами: мы используем ваш адрес электронной почты для отправки вам важных уведомлений, связанных с вашей учетной записью, таких как электронные письма о сбросе пароля и обновления о нашем сервисе..</li>
                                <li>Для предотвращения мошенничества и злоупотреблений: мы используем вашу информацию для обнаружения и предотвращения мошеннической деятельности, а также для обеспечения соблюдения наших Условий обслуживания..</li>
                                <li>Чтобы улучшить наш сайт, чтобы лучше обслуживать вас..</li>
                                <li>Чтобы мы могли лучше обслуживать вас при ответе на ваши запросы в службу поддержки клиентов..</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-4 lg:w-1/2">
                        <div class="flex flex-col h-full p-8 bg-gray-800 bg-opacity-50 border-2 border-gray-300 border-opacity-60 rounded-lg">
                            <h2 class="mb-3 text-lg font-medium text-white title-font">
                                А как насчет файлов cookie и рекламной сети?
                            </h2>
                            <p class="flex-grow mb-6 text-base leading-relaxed text-justify text-gray-100">
                                Мы можем использовать сторонние рекламные компании для показа рекламы при посещении вами нашего Сайта. Эти компании могут использовать файлы cookie, которые представляют собой небольшие текстовые файлы, размещаемые на вашем устройстве, и аналогичные технологии для сбора информации с целью показа рекламы, связанной с
                                к интересующим вас продуктам и услугам.
                                <br/> ShortURL может отображать рекламу, предоставляемую рекламными компаниями, которые используют файлы cookie для определения предпочтений пользователя и привычек просмотра. Пользователи могут получить дополнительную информацию об этих файлах cookie и конфиденциальности рекламы.
                                сайты компаний.
                                <br/> Веб-браузеры автоматически принимают файлы cookie, но при желании вы можете изменить конфигурацию своего браузера, чтобы отказаться от файлов cookie. Однако это может повлиять на то, как вы сможете взаимодействовать с нашим Сайтом и другими сайтами.
                                в Интернете.
                            </p>
                        </div>
                    </div>
                    

    <footer class="text-blue-600 body-font">
        {% include "footer.html" %}
    </footer>
</body>

</html>